<h1>Hello, <%= current_user.name %></h1>

<div>
    <a href="/users/verses/new">Create a new note</a>
</div>
<div>
    <a href="/users/verses">View all of your notes</a>
</div>
<div>
    <a href="/logout">Logout</a>
</div>