<h2>Edit Your Note</h2>
<form action="/users/verses/<%= @verse.id %>" method="POST"> 
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" name="title" value="<%= @verse.title %>">
    <textarea name="content" id="content" cols="40" rows="10"><%= @verse.content %></textarea>
    <button type="submit">Update Note</button>
</form>
<div>
    <a href="/logout">Logout</a>
</div>