<h2>All Notes</h2>
<ul>
<% @verses.each do |verse| %>
 <li>
   <a href="/verse/<%= verse.id %>"><%= verse.title %></a> | <%= verse.created_at %>
 </li>
<% end %>
</ul>
<h2>Add Notes</h2>
    <form method="post" action="/verse">
        <label for="title">Title: </label>
        <input type="text" name="title">
        <label for="body">Content: </label>
        <input type="text" name="body">
        <input type ="submit" value="Add Verse">
    </form>





<div><a href="/login">Login</a> | <a href="/signup">Signup</a></div>
